.Rproj.user
*.Rproj.user
.Rprofile
*.Rprofile
.Rhistory
*.Rhistory
.RData
*.RData
.Ruserdata
*.Ruserdata
*.Rproj
renv.lock
*.csv
*.xlxs
*.xlsx
*.xlsx#
*.xls
*.ods
*.odt
*.pdf
*.doc
*.docx
*.pptx
*.log
*.zip
*.sav
*.txt
*.ass
*.html
*.jpg
*bin
*.json
*.png
*.fff
*.tex
*.ttt
.renv
.vscode/
renv/
rpubs/
models*/
*.yml